.nama1 p {
    text-align: center;
    color: rgb(69, 61, 61);
}

.div1 {
    text-align: center;
    margin-top: 20px;
}

.div2 {
    text-align: left;
    margin-left: 40%;
}

.tabel1biodata td{
    padding:4px;
    font-size: larger;
}





